* {
	font-family:
		Verdana, Geneva, Tahoma, sans-serif,
		Arial, Helvetica, sans-serif,
		'Times New Roman', Times, serif;
}

.topnav {
	overflow: hidden;
	background-color: #e9e9e900;
}

.topnav .login-container {
	float: right;
}

.topnav input[type=text],
input[type=password] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 150px;
	/* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
	float: right;
	padding: 6px;
	margin: 8px 8px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .login-container button:hover {
	background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
	.topnav .login-container {
		float: none;
	}

	.topnav a,
	.topnav input[type=text],
	.topnav .login-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}

	.topnav input[type=text] {
		border: 1px solid #ccc;
	}
}

.header {
	display: inline-block;
	width: 100%;
	height: 100px;
	text-align: center;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Chess_players_by_Anthony_Rosenbaum.jpg");
	background-size: 600px;
	background-repeat: repeat;
}

.inner {
	display: inline-block;
	line-height: 50px;
	text-align: center;
	color: whitesmoke;
}

body {
	margin: 0;
	background-color: rgb(215, 209, 197);
}

.mysite {
	display: flex;
	/* включаем режим Flexbox */
	flex-direction: column;
	/* дочерние элементы будут располагаться сверху вниз */
	text-align: center;
	padding: 50px 100px;
}

.row {
	display: flex;
	/* включаем режим Flexbox */
	flex-direction: row;
	/* дочерние элементы будут располагаться слева на право */
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 1em 0em;
}

.row:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column {
	flex: auto;
}

.photo {
	width: 200px;
	padding: 1em;
}

.description {
	text-align: justify;
	padding: 1em;
}

.footer {
	padding: 1em;
	background-color: rgba(93, 93, 93, 0.434);
}
